[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {version = "==1.10.14", extras = ["postgres"]}

[dev-packages]

[requires]
python_version = "3.9"
